.head {
  width: 100%;
  padding: 15px 0;
}

.search {
  display: flex;
  justify-content: space-between;
}

.input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  width: 80%;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px 20px;
  background-color: white;
}

.info-header {
  width: 30%;
  font-size: 13px;
  padding: 15px 150px 0 0;
  display: flex;
  justify-content: space-between;
}

.info-repo-header {
  color: rgb(0, 119, 255);
}